body {
  background-image: url("../images/Background.jpeg"); /* đường dẫn tới ảnh nền */
  background-size: cover;       /* Ảnh phủ kín màn hình */
  background-position: center;  /* Căn giữa ảnh */
  background-attachment: fixed; /* Cố định khi cuộn */
  background-repeat: no-repeat;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}
/* Side Bar----------------------------------------------------------------------------------------------------------*/
.sidebar {
  position: fixed;      /* Giúp cố định khi cuộn */
  top: 50px;
  right: 25px;
  height: 500px;         /* Chiều cao */
  width: 150px;         /* Độ rộng */
  background-color: rgba(255, 255, 255, 0.85);  /* Nền mờ để nhìn thấy hình nền bên dưới */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  border-radius: 15px;
}

/* Các liên kết */
.sidebar a {
  color: black;
  text-decoration: none;
  margin: 15px 0;
  font-size: 18px;
  transition: all 0.3s ease;
}

.sidebar a:hover {
  color: gold;
  transform: scale(1.1);
}
/* Side Bar - End----------------------------------------------------------------------------------------------------*/
/* Grid--------------------------------------------------------------------------------------------------------------*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 cột */
  grid-gap: 10px; /* khoảng cách giữa các ô */
  justify-items: center; /* căn giữa theo cột */
  margin: 10px;
}
.grid-item {
  text-align: center;
}
.grid-item img {
  width: 65px; /* kích thước hình */
  height: 65px;
  object-fit: cover;
  border-radius: 10px;
}
/* Grid - End--------------------------------------------------------------------------------------------------------*/
/* Main Content------------------------------------------------------------------------------------------------------*/
.content {
  background-color: rgba(255, 255, 255, 0.85); /* Nền trắng mờ 85% */
  width: calc(80% - 200px);               /* Chiếm 80% chiều ngang */
  margin: 50px 200px 50px auto;        /* Căn giữa */
  padding: 20px;
  border-radius: 15px;      /* Bo góc mềm mại */
  box-shadow: 0 0 20px rgba(0,0,0,0.3); /* Bóng đổ nhẹ */
  text-align: center;
}
